
.page-background {
    position: absolute;
    top: -400px;
    left: 15px;
    width: 790px;
    height: 697px;
    z-index: -1;
    object-fit: cover;
    }
.products-grid { 
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1110px; 
    margin: 40px auto;
    box-sizing: border-box;
    font-family: Montserrat;
    font-weight: 400;
    margin-top: 110px;
}
.product-card {
    background-color: #f9f7f7;
    padding: 24px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    max-width: 340px;
    color: #515076;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    font-size: 13px;
}
.page-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #515076;
    font-size: 70px;
    line-height: 78px;
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 220px;
}
.product-card__price-value {
    display: block;
    text-align: right;
    white-space: nowrap;
    margin-top: -20px;
}
.product-card__ingredient {
    list-style-type: circle;
    list-style-position: inside;
    margin: 0;
    padding-top: 5px;
}
.product-card__ingredient-list {
    padding-left: 0;
    margin: 0;

}
.product-card__price-block {
    font-size: 20px;
    padding-top: 25px;
}
.product-card__category {
    padding-top: 30px;
    margin-top: 0;
}
.product-card__name {
    margin: 0;
}

    


    
